:where(html) {
  --dark-1: #000a12;
  --dark-2: #263238;
  --dark-rgba-1: 38, 50, 56;
  --dark-rgba-2: 170, 0, 255;

  --purple-1: #7200ca;
  --purple-2: #e254ff;
  --purple-3: #AA00FF;

  --gray-1: #616161;
  --gray-2: #707070;
  --gray-hsl-1: 204, 15%, 94%;

  --light-1: #ECEFF1;
  --light-2: #FAFAFA;
  --light-3: #EEEEEE;
  --light-4: #bdbdbd;
  --light-rgba-1: 250, 250, 250;
}