@use 'colors' as *;

:where(html.dark) {
  --text-1: var(--light-1);
  --text-2: var(--light-2);
  
  --accent-1: var(--purple-2);
  --accent-2: var(--purple-3);
  
  --background-1: var(--dark-2);
  --background-2: var(--dark-1);
  --background-3: var(--gray-1);
}