@use 'gerillass' as *;

@forward 'utilities/tailwind';
@forward 'utilities/wp'; 

body {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  min-height: 100vh;
  min-width: 320px;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--light-1);
  background-color: var(--dark-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


